* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#upp-image {
  max-width: 800px;
}

body {
  background-color: #4b7c99;
  width: 100%;
  height: 100%;
  background: url("/images/wallhaven-5g22q5.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

#bigbox {
  width: 1000px;
  margin: 0 auto;
}

nav {
  background-color: #ccd0d9;
  width: 1000px;
  height: 60px;
}

nav a {
  text-decoration: none;
  line-height: 60px;
  margin-left: 50px;
  margin-right: 50px;
  color: #020c16;
  font-weight: bold;
}

nav a:hover {
  color: #1a9be6;
}

#main {
  height: 490px;
  width: 1000px;
  margin: 0 auto;
  background-color: #86aacb;
}

h2 {
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 20px;
  line-height: 30px;
  background-color: #03151f;
  color: #ccd0d9;
}

footer {
  line-height: 60px;
  font-size: 14px;
  text-align: center;
  background-color: #ccd0d9;
}

button {
  width: 100px;
  height: 30px;
  margin-left: 80px;
}
